build/
src/*.o
src/lib/*.o
src/ui/*.o
src/wii/*.o
src/gl/*.o
src/gl/textures/*.o
mudclient
*.dol
*.elf
mudclient.exe
mudclient.data
mudclient.html
mudclient.js
mudclient.wasm
.idea
options.ini
rsc-c.3dsx
rsc-c.smdh
texture-pack/node_modules
rsc-c-switch.zip
*.nacp
*.nro
