build/
src/*.o
src/lib/*.o
src/lib/rsa/*.o
src/ui/*.o
src/wii/*.o
src/gl/*.o
src/gl/textures/*.o
src/custom/*.o
mudclient
*.dol
*.elf
mudclient.exe
mudclient.data
mudclient.html
mudclient.js
mudclient.wasm
.idea
options.ini
rsc-c.3dsx
rsc-c.smdh
texture-pack/node_modules
*.nacp
*.nro
*.npdm
*.nso
*.nsp
*.bak
org.scape2003.mudclient/.gradle/
org.scape2003.mudclient/app/build/
