build/
src/*.o
src/lib/*.o
src/ui/*.o
src/wii/*.o
src/gl/*.o
src/gl/textures/*.o
mudclient
*.dol
*.elf
mudclient.exe
.idea
options.ini
rsc-c.3dsx
rsc-c.smdh
texture-pack/node_modules
*.nacp
*.nro
*.npdm
*.nso
*.nsp
