1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Jagex Ltd. & Zorian Medwid"
      VALUE "FileDescription", "Runescape is a massive 3d multiplayer adventure, with monsters to kill, quests to complete, and treasure to win."
      VALUE "FileVersion", "2.0"
      VALUE "InternalName", "mudclient"
      VALUE "LegalCopyright", "RuneScape Classic"
      VALUE "OriginalFilename", "mudclient.exe"
      VALUE "ProductName", "RuneScape Classic"
      VALUE "ProductVersion", "2.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
